SELECT * FROM (SELECT CAST(xe.event_data AS XML).value('(event/@timestamp)[1]', 'datetime2') AS event_time, xe.object_name AS event_name, CAST(xe.event_data AS XML).value('(event/action[@name="sql_text"]/value)[1]', 'nvarchar(max)') AS sql_text, CAST(xe.event_data AS XML).value('(event/action[@name="username"]/value)[1]', 'nvarchar(256)') AS username, CAST(xe.event_data AS XML).value('(event/action[@name="client_hostname"]/value)[1]', 'nvarchar(256)') AS client_hostname, CAST(xe.event_data AS XML).value('(event/action[@name="session_id"]/value)[1]', 'int') AS session_id FROM sys.fn_xe_file_target_read_file('{{ item.xe_file_path }}', NULL, NULL, NULL) AS xe) t WHERE event_time > ? ORDER BY event_time ASC
