SELECT event_time, action_id, succeeded, server_principal_name, database_principal_name, target_server_principal_name, target_database_principal_name, database_name, statement, session_id, CASE WHEN action_id = 'LGIS' THEN CAST(additional_information AS XML).value('(//*:address)[1]', 'nvarchar(64)') END AS client_address FROM sys.fn_get_audit_file('{{ item.audit_file_path }}', NULL, NULL) WHERE event_time > ? ORDER BY event_time ASC
