{% for ch in splunk_uf_win_monitor_channels %}
[WinEventLog://{{ ch.channel }}]
disabled = 0
index = {{ splunk_uf_win_index }}
{% if ch.sourcetype is defined and ch.sourcetype %}
sourcetype = {{ ch.sourcetype }}
{% endif %}
{% if ch.renderXml is defined and ch.renderXml %}
renderXml = 1
{% endif %}
{% if ch.whitelist is defined and ch.whitelist %}
whitelist = {{ ch.whitelist }}
{% endif %}
{% if ch.blacklist is defined and ch.blacklist %}
{% for b in ch.blacklist %}
blacklist{{ loop.index }} = {{ b }}
{% endfor %}
{% endif %}

{% endfor %}
{% for f in splunk_uf_win_monitor_files %}
[monitor://{{ f.path }}]
disabled = 0
index = {{ f.index | default(splunk_uf_win_index) }}
sourcetype = {{ f.sourcetype }}
{% if f.crc_salt is defined and f.crc_salt %}
crcSalt = {{ f.crc_salt }}
{% endif %}

{% endfor %}
