{% for filename in splunk_uf_monitor_files %}
[monitor://{{ splunk_uf_monitor_path }}/{{ filename }}]
disabled = 0
sourcetype = {{ splunk_uf_sourcetype_placeholder }}
index = {{ splunk_uf_index }}

{% endfor %}
